@page
@model TTTMS.Pages.ReportsModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="myContent">
    <iframe title="Report Section" src="https://app.powerbi.com/view?r=eyJrIjoiOGNmYzUxYmMtOTRhMC00Njc3LWJjMTUtNDVkYzlhODNlY2VlIiwidCI6Ijk4ZmNmNTFmLTg2ZTAtNDc1Yy05NDI5LWI1MWNkOGQxYmY0NiJ9" frameborder="0" allowfullscreen="true" ></iframe>
</div>
